#ignorar archivos del sistema
    .DS_Store

    #ignorar archivos del entorno
    .env

    #ignora pmpm-lock.yaml
    pnpm-lock.yaml

    
    #ignorar carpetas de dependencias(si las uso)
    node_modules/
    
